BasedOnStyle: LLVM
Standard: c17
IndentWidth: 4
TabWidth: 4
UseTab: Never
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: Align
AlignOperands: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
SortIncludes: false
IncludeBlocks: Preserve
ReflowComments: false
PenaltyBreakComment: 10
PenaltyBreakFirstLessLess: 20
PenaltyReturnTypeOnItsOwnLine: 60
