CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHSIZE_32MB=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHMODE_OPI_DTR=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_ESP32S3_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_USE_CAPS_ALLOC=y
CONFIG_ESP32S3_DATA_CACHE_64KB=y
CONFIG_ESP32S3_INSTRUCTION_CACHE_64KB=y
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_FILENAME="../partitions/default_16MB_psram_32MB_flash_opi.csv"
CONFIG_LWIP_LOCAL_HOSTNAME="hmi-node"
CONFIG_HMI_ALLOW_PLACEHOLDER_SECRETS=n
CONFIG_HMI_WS_AUTH_TOKEN="replace-me"
CONFIG_HMI_SENSOR_HOSTNAME="sensor-node.local"
CONFIG_HMI_SENSOR_PORT=8080
CONFIG_HMI_DISCOVERY_TIMEOUT_MS=12000
CONFIG_HMI_DISCOVERY_CACHE_TTL_MINUTES=120
CONFIG_HMI_PROV_SERVICE_NAME="HMI"
CONFIG_HMI_PROV_POP="hmi-pop"
CONFIG_HMI_PROV_SEC2_USERNAME="wifiprov"
CONFIG_HMI_PROV_SEC2_SALT_BASE64="A27gx7y57ahMnqyX2T3s9A=="
CONFIG_HMI_PROV_SEC2_VERIFIER_BASE64="fHyFR2UIlG3WNq831+iRQ3jP/WFsWdL4OQgScjjeniSkcCYc36kDwrJw57EyJNoRHZcY3GByCMyayQxIJ+KuiaoWJbgE0hqbOo839uQ6cS7hJ4Zurc4o/1RGYB+5lofcV0Cn1GzJd1TcFoLw7TVqxHCtPZC1gZRw17xlstUY4C7Dpflo3WR7uLc8nPwA2HF+t5p8sbfCwxg0KTJDPgCZ6YKU49gqsJYpt98OXwgzQHZSkTIAn5csiWw5HsgoBUQXP2gCip9EYdH1oX5acNLHI4HLOGjkLCC8QFd2F70IuJa8JusyRmk1BYwVcNkb6b7MqTimZ/CtUBMZcmS/UsI04hsReXRyvTRbseL9ZnP+cWR00E68USQZQIcOkkDmIectTjd2Ly7iaMeJ6DITQgaEhFNKswwbTI0cUZcZq653/9vs8BCVNDNryz6ED7nYX7iguFVTPnD3GPXOe06/J87OqLO+QMXFMik+cWSe3oz2daHm9lPIMah43lBA92LeNrK6"
CONFIG_HMI_PROV_TIMEOUT_MS=180000
CONFIG_HMI_PROV_CONNECT_TIMEOUT_MS=20000
CONFIG_HMI_PROV_MAX_ATTEMPTS=5
CONFIG_HMI_OTA_URL="https://example.com/hmi/ota.json"
CONFIG_HMI_WS_TLS_SNI_OVERRIDE=""
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_OTA_ALLOW_HTTP=0
CONFIG_LV_COLOR_DEPTH_16=y
CONFIG_LV_USE_LOG=y
CONFIG_LV_LOG_LEVEL_WARN=y
CONFIG_ESP_SYSTEM_PANIC_PRINT_HALT=y
