CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHMODE_OPI=1
CONFIG_ESPTOOLPY_FLASHFREQ_80M=1
CONFIG_ESPTOOLPY_FLASHSIZE_32MB=1
CONFIG_SPIRAM_SUPPORT=1
CONFIG_ESP32S3_SPIRAM_SUPPORT=1
CONFIG_SPIRAM_SPEED_80M=1
CONFIG_SPIRAM_MODE_OCT=1
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=1
CONFIG_SPIRAM_RODATA=1
CONFIG_SPIRAM_USE_MALLOC=1
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=262144
CONFIG_ESP_MAIN_TASK_STACK_SIZE=12288
CONFIG_PARTITION_TABLE_CUSTOM=1
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions/default_16MB_psram_32MB_flash_opi.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions/default_16MB_psram_32MB_flash_opi.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=1
CONFIG_ESP_WIFI_STA_DISCONNECTED_PM_ENABLE=0
CONFIG_LV_COLOR_DEPTH_16=1
CONFIG_LV_USE_LOG=1
CONFIG_LV_LOG_LEVEL_WARN=1
CONFIG_LV_MEM_CUSTOM=1
CONFIG_LV_MEM_CUSTOM_ALLOC="heap_caps_malloc"
CONFIG_LV_MEM_CUSTOM_FREE="heap_caps_free"
CONFIG_LV_MEM_CUSTOM_REALLOC=1
CONFIG_LV_MEM_CUSTOM_REALLOC_DEF="heap_caps_realloc"
CONFIG_LV_MEM_ADR=0
CONFIG_LV_MEM_SIZE=524288
CONFIG_USE_CBOR=n
