CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHMODE_OPI=1
CONFIG_ESPTOOLPY_FLASHFREQ_80M=1
CONFIG_ESPTOOLPY_FLASHSIZE_32MB=1
CONFIG_SPIRAM_SUPPORT=1
CONFIG_ESP32S3_DATA_CACHE_64KB=1
CONFIG_ESP32S3_INSTRUCTION_CACHE_64KB=1
CONFIG_SPIRAM_SPEED_80M=1
CONFIG_ESP32S3_SPIRAM_SUPPORT=1
CONFIG_SPIRAM_MODE_OCT=1
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=1
CONFIG_SPIRAM_RODATA=1
CONFIG_SPIRAM_USE_MALLOC=1
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=131072
CONFIG_ESP_WIFI_STA_DISCONNECTED_PM_ENABLE=0
CONFIG_ESP_WIFI_STATIC_RX_BUFFER_NUM=16
CONFIG_ESP_WIFI_DYNAMIC_RX_BUFFER_NUM=64
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=1
CONFIG_LV_COLOR_DEPTH_16=1
CONFIG_LV_USE_LOG=1
CONFIG_LV_LOG_LEVEL_WARN=1
CONFIG_LWIP_MAX_SOCKETS=16
CONFIG_NEWLIB_STDOUT_LINE_ENDING_CRLF=1
CONFIG_PARTITION_TABLE_CUSTOM=1
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions/default_16MB_psram_32MB_flash_opi.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions/default_16MB_psram_32MB_flash_opi.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_SYSTEM_PANIC_PRINT_REBOOT=1
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=1
CONFIG_USE_CBOR=n
CONFIG_SENSOR_NODE_WS_MAX_FRAME_SIZE=4096
CONFIG_SENSOR_NODE_PROV_SERVICE_PREFIX="SENSOR"
CONFIG_SENSOR_NODE_PROV_SERVICE_KEY="SensorSetup!"
CONFIG_SENSOR_NODE_PROV_POP=""
CONFIG_SENSOR_NODE_PROV_TIMEOUT_MS=300000
CONFIG_SENSOR_NODE_CMD_AUTH_PARTITION="secrets"
CONFIG_SENSOR_NODE_CMD_AUTH_NAMESPACE="command"
CONFIG_SENSOR_NODE_CMD_AUTH_KEY="hmac_key"
CONFIG_WIFI_PROV_MANAGER=y
CONFIG_WIFI_PROV_MGR_AUTO_STOP_PROVISIONING=y
CONFIG_WIFI_PROV_MGR_SCHEME_SOFTAP=y
CONFIG_WIFI_PROV_SECURITY_1=y
CONFIG_ESP_SECURE_CERT_SUPPORT=y
